<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        $('#myWorkContent').width($(window).width());
    </script>
</head>
<body>
    @{
        ViewBag.Categories = LaserArt.Models.Category.GetCategories(null);

    }
    <div class="list-inline top-menu row">

        <div class="col-sm-3" style="font-size:30px;"><a href="/"><img style="width:60%;margin-left:75px;" src="~/images/sushi-star-logo_600x600.png" /></a></div>

        <div class="col-sm-6">
            <div class="row" style="line-height: 60px; text-align: center;">
                Тел.+374897867
            </div>
            <div class="row">
                <ul class="col-sm-12 hr">

                    <li class="li"> ДОСТАВКА </li>
                    <li class="li">О нас </li>
                    <li class="li">Связь </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            @* Here I will add Language Switcher *@
            @{
                foreach (var i in LaserArt.SiteLanguages.AvailableLanguages)
                {
            @Html.ActionLink(i.LangFullName, "ChangeLanguage", "Home", new { lang = i.LangCultureName }, new { @class = "headerText" }) <text>&nbsp;</text>
                }
            }

        </div>


        @if (Request.Cookies["Cart"] != null)
        {
            HttpCookie cookieOld = Request.Cookies["Cart"];

            var value = cookieOld.Value;
            var idList = Newtonsoft.Json.JsonConvert.DeserializeObject
            <List<LaserArt.Models.CardModel>>(value);
            ViewBag.CardCount = idList.Count;
        }
        else
        {
            ViewBag.CardCount = 0;
        }

        <div class=" col-sm-2 card-Header">@LaserArt.Resource.Basket<img class="cardIcon" src="~/images/cardBasketIcon.png" />   <u>@ViewBag.CardCount</u></a></div>

    </div>

    <div class="row" style="width:90%; margin:0 auto;height:100%;">


        <div class="col-sm-12" style="padding:0 !important; margin-top:55px;">

            <div class="container body-content">
                @RenderBody()
            </div>
            <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>
            <div align="center" id="orderDetails">

                Բեռնվում է․․․
            </div>

        </div>
    </div>

    @*<div class="footer">
            <div class="toolbar-right">
                <a>Powered By Novir</a>
            </div>
        </div>*@






    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector: '#textarea' });</script>
    <script src="~/Scripts/carousel.js"></script>
    <script type="text/javascript">



        function closeOrderDiv() {
            $("#orderDetails").hide();
        }
        window.onscroll = function () { scrollFunction() };
        function saleDetails() {
            var selected = $('#SaleDropDown').val();
            window.location = "/Home/SalesDetails/" + selected;
        }
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Chrome, Safari and Opera
            document.documentElement.scrollTop = 0; // For IE and Firefox
        }
        $(document).ready(function () {
            //$('.body-content').css("min-height", function () {
            //    return $('.sidebar-nav').height();
            //});

            $('#searchArea').bind("enterKey", function (e) {
                window.location = "/home/Search?query=" + $(this).val();
            });
            $('#searchArea').keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                }
            });
            $('.product').click(function () {
                $("#orderDetails").show();
                $('#orderDetails').load("/home/product/" + $(this).attr('id'));
            });


            $('.sushiCategory-div').click(function () {
                window.location = "/home/category/" + $(this).attr('id');
            });
            $('.card-Header').click(function () {
                window.location = "/home/card/";
            });
            $('.adminOrderRow').click(function () {
                window.location = "/admin/orderdetails/?OrderId=" + $(this).parent().attr('id');
            });
            $('.orderSetStatus').click(function () {
                var orderId = $(this).parent().parent().attr('id');
                var status = $('input[name=orderStatus_' + orderId + ']:checked').val();
                alert('Статус изменен');
                window.location = "/admin/ChangeOrderStatus/?orderId=" + orderId + "&status=" + status;
            });
            $('.deleteProduct').click(function () {
                var id = $(this).attr('id');
                $.ajax({
                    url: "/Home/RemoveProduct/" + id,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        //code after success
                        alert(response);
                        window.location = "/Home/";

                    },
                    error: function (er) {

                        alert(er.responseText);
                    }

                });
            });
            $('.removeCard').click(function () {
                var id = $(this).attr('id');
                $.ajax({
                    url: "/Home/RemoveCard/" + id,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        //code after success
                        console.log('#' + id + 'itemCard');
                        $('#' + id + 'itemCard').remove();

                    },
                    error: function (er) {

                        alert(er.responseText);
                    }

                });
            });
            $(".fileUpload").click(function () {
                var parent = $(this).parent();
                var data = new FormData();
                var files = $(this).parent().find(".uploadEditorImage").get(0).files;
                if (files.length > 0) {
                    data.append("HttpPostedFileBase", files[0]);
                    $(this).parent().find('.image').val('/images/' + files[0].name)
                }
                //.val('/images/' + files[0].name);
                $.ajax({
                    url: "/Home/FileUpload/",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        //code after success
                        alert(response)
                    },
                    error: function (er) {

                        alert(er.responseText);
                    }

                });
            });
            $(".SalefileUpload").click(function () {
                var parent = $(this).parent();
                var data = new FormData();
                var files = $(this).parent().find(".uploadEditorImage").get(0).files;
                if (files.length > 0) {
                    data.append("HttpPostedFileBase", files[0]);
                    $(this).parent().find('.image').val('/images/Carousel/' + files[0].name)
                }
                //.val('/images/' + files[0].name);
                $.ajax({
                    url: "/Home/FileUploadCarousel/",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        //code after success
                        alert(response)
                    },
                    error: function (er) {

                        alert(er.responseText);
                    }

                });
            });
        });
        function goToDetails() {


            window.location = "/home/orderDetails/" + $('#listInt').val();
        }
        function orderBtnClick() {
            window.location = "/home/order";
        }
        function orderBtnClickItem(itemId) {
            window.location = "/home/order/" + itemId;
        }
        function addToCard(itemId) {
            var quantity = $('#cardQuantity').val();
            if (quantity == "") {
                $('#cardQuantityRequired').html("Укажите количество товара.");
                $('#cardQuantity').focus();
                return;
            }
            $.ajax({
                url: "/Home/AddToCard?productId=" + itemId + "&quantity=" + quantity,
                type: "GET",
                processData: false,
                contentType: false,
                success: function (response) {
                    //code after success
                    alert(response)
                },
                error: function (er) {

                    alert(er.responseText);
                }

            });
        }

        $(document).ready(function () {
            $(".iconImg").click(function (event) {

                $('#generalImg').attr('src', $(event.target).attr('src'));
            });
        });
        $(document).ready(function () {

            //cache our items and containers
            var items = $(".portfolio-item");
            var scrollContainer = $(".offer-pg-cont");



            function fetchItem(container, items, isNext) {
                var i,
                    scrollLeft = container.scrollLeft();

                //set isNext default to true if not set
                if (isNext === undefined) {
                    isNext = true;
                }

                if (isNext && container[0].scrollWidth - container.scrollLeft() <= container.outerWidth()) {
                    //we reached the last one so return the first one for looping:
                    return $(items[0]);
                }

                //loop through items
                for (i = 0; i < items.length; i++) {

                    if (isNext && $(items[i]).position().left > 0) {
                        //this item is our next item as it's the first one with non-negative "left" position
                        return $(items[i]);
                    } else if (!isNext && $(items[i]).position().left >= 0) {
                        //this is our previous item as it's the one with the smallest negative "left" position
                        //if we're at item 0 just return the last item instead for looping
                        return i == 0 ? $(items[items.length - 1]) : $(items[i - 1]);
                    }
                }

                //nothing found
                return null;
            }


            function moveToItem(event) {
                //fetch the next/previous item:
                var isNext = event.data.direction == "next";
                var item = isNext ? fetchItem(scrollContainer, items, true) : fetchItem(scrollContainer, items, false);

                if (item) {
                    //scroll to item
                    scrollContainer.animate({ "scrollLeft": item.position().left + scrollContainer.scrollLeft() }, 400);
                }
            }

            //bind events
            $(".arrow-left").click({ direction: "prev" }, moveToItem);
            $(".arrow-right").click({ direction: "next" }, moveToItem);


        });
    </script>
    @if (Request.Browser.IsMobileDevice)
    {
        <style>
            .iconImg {
                width: 20% !important;
                height: auto;
                cursor: pointer;
            }
        </style>
    }

</body>
</html>
