
@model LaserArt.Models.Product

@{
    ViewBag.Title = Model.ProductTitle;
}
<div class="row" style="float:right;margin-right:10px;">
    <a onclick="closeOrderDiv()" style="cursor:pointer">X</a>

</div>
<div class="jumbotron">
    <h2 class="product-header">@Model.ProductTitle</h2>
    @Html.Raw(Model.ProductDescription)
    @if (this.User.IsInRole("Administrator"))
    {
        <a id="@Model.Id" class="deleteProduct">@Resource.DeleteProduct</a>
    }
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.ImageSource" class="imageHeader" id="generalImg" />
                <div class="row">
                    <div class="col-md-2">
                        <img src="@Model.ImageSource" class="imageHeader iconImg" />
                    </div>
                    <div class="col-md-2">
                        <img src="@Model.ImageSource1" class="imageHeader iconImg" />
                    </div>
                    <div class="col-md-2">
                        <img src="@Model.ImageSource2" class="imageHeader iconImg" />
                    </div>
                    <div class="col-md-2">
                        <img src="@Model.ImageSource3" class="imageHeader iconImg" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              
                <hr class="productPagehr">

                <p style="color:rgba(255, 0, 0, 1) ;">@Model.Price руб.</p>
                @if (@Model.PriceDiscounted != 0)
                {
                    <del> @Model.PriceDiscounted</del>
                }
                <hr class="productPagehr">
                <input type="number" id="cardQuantity" value="1" class="form-control" />
                <div style="color:red" id="cardQuantityRequired"></div>
                <input type="button" value="Добавить в корзину +" class=" btn-red btn btn-default"  onclick="addToCard(@Model.Id)" />
                <hr class="productPagehr">
            </div>
        </div>
    </div>
</div>
