@model  List<LaserArt.Models.Category>

@{
    ViewBag.Title = "Главная";
}


<div class="container jumbotron" style="padding-top:5px !important;">
    <div class="row" align="left">
        @ViewBag.Info
    </div>
    @{int i = 0; }
    @foreach (var category in Model)
    {

        if (i == 0 || i % 3 == 0)
        {
            @Html.Raw("<div class=\"row\" >");
        }
        <div id="@category.Id" class="col-md-4 item-div" align="center">
            <img style="width:100%; height:auto;" src="@category.CategoryImage" />
            <p>@category.CategoryName</p>
        </div>



        i++;
        if (i != 0 && i % 3 == 0 || i == Model.Count)
        {
            @Html.Raw("</div>")
        }
    }
    <hr />
   <div class="row">
       <img src="~/images/Logomakr_38fN2N.png" class="col-md-1" />
       <h4 class="col-md-3">Ընտրեք ուտեստը</h4>
       <img src="~/images/Logomakr_3lnzlL.png" class="col-md-1">
       <h4 class="col-md-3">Ավելացրեք զամբյուղ</h4>
       <img src="~/images/Logomakr_5OfkrT.png" class="col-md-1">
       <h4 class="col-md-3">Պատվիրեք</h4>
   </div>
</div>
<script src="~/Scripts/carousel.js"></script>