@model  List<LaserArt.Models.Category>

@{
    ViewBag.Title = "Главная";
}



<div class="w3-content w3-section" style="top:100;left:0;width:100%;height:auto;z-index:-999999999">
    @foreach (var item in ViewBag.Sales)
    {
        <a class="mySlides" href="@item.link">
            <img class="myslideImage" src="@item.image">
        </a>
    }

</div>


<div class='col-sm-12 nullBox'></div>

    @*<span class='arrow-left col-sm-1'><img src="~/images/b6_l_n.gif" /></span>*@
    <div class='offer-pg-cont col-sm-12'>
        <div class='offer-pg'>
            @foreach (var item in Model)
            {
                <div id="@item.Id" class="sushiCategory-div col-sm-3 portfolio-item" align="center">
                    <img src="@item.CategoryImage" class="items" style="width:100%;height:auto;" alt="" />
                    <p class="text-center text">@item.CategoryName</p>
                </div>
            }
        </div>
    </div>
    @*<span class='arrow-right col-sm-1'><img src="~/images/b6_r_n.gif" /></span>*@
    
